{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Médias {% endblock %}

{% block body %}
    {% cache 'media' 5 %}
        <main class="container">
            <h2 class="h2 text-center">Les livres</h2>
            <section class="multiple-items">
                {% for book in books %}
                    <div class="card mx-2">
                        <img src="{{ book.imgSrc }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }} par {{ book.author }}</h5>
                            <p class="card-text">{{ book.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Quantité: {{ book.quantity }}</small>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <h2 class="h2 text-center">Les films</h2>
            <section class="multiple-items">
                {% for movie in movies %}
                    <div class="card mx-2">
                        <img src="{{ movie.imgSrc }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.name }} par {{ movie.author }}</h5>
                            <p class="card-text">{{ movie.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Quantité: {{ movie.quantity }}</small>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <h2 class="h2 text-center">Les séries</h2>
            <section class="card-group multiple-items">
                {% for serie in series %}
                    <div class="card mx-2">
                        <img src="{{ serie.imgSrc }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ serie.name }} par {{ serie.author }}</h5>
                            <p class="card-text">{{ serie.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Quantité: {{ serie.quantity }}</small>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <h2 class="h2 text-center">Les albums</h2>
            <section class="multiple-items">
                {% for album in albums %}
                    <div class="card mx-2">
                        <img src="{{ album.imgSrc }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ album.name }} par {{ album.author }}</h5>
                            <p class="card-text">{{ album.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Quantité: {{ album.quantity }}</small>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </main>
    {% endcache %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: true
        });
    </script>
{% endblock %}

