<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MediaPole{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}
    {{ include('_partials/_navbar.html.twig') }}
{% endblock %}
{% block body %}{% endblock %}
{{ encore_entry_script_tags('app') }}
<script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
